
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000"
     data-pause="false">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://github.com/dylangit01/Bubbles-Delight/blob/master/public/images/header-background.jpg?raw=true" class="carImg d-block" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.splenda.com/wp-content/uploads/2020/09/vanilla-bubble-tea-2000x1000.jpg"
                 class="carImg d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://miro.medium.com/max/13440/1*GSDvhOuEN5JAZ8YcGiJleg.jpeg" class="carImg d-block w-100"
                 alt="...">
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span><i class="fas fa-arrow-left"></i></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span><i class="fas fa-arrow-right"></i></span>
    </a>

</div>

