
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000"
     data-pause="false">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://github.com/dylangit01/Bubbles-Delight/blob/master/public/images/header-background.jpg?raw=true" class="carImg d-block" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cdn-japantimes.com/wp-content/uploads/2019/05/p14-stmichel-bubbletea-a-20190512.jpg"
                 class="carImg d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.ytimg.com/vi/nD2k199_HBM/maxresdefault.jpg"
                 class="carImg d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i2.wp.com/www.eatthis.com/wp-content/uploads/2021/02/bubble-boba-tea.jpg?fit=1200%2C879&ssl=1" class="carImg d-block w-100"
                 alt="...">
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span><i class="fas fa-arrow-left"></i></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span><i class="fas fa-arrow-right"></i></span>
    </a>

</div>

