  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section>
        <a class="m-2 text-white" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="m-2 text-white" role="button"><i class="fab fa-twitter"></i></a>
        <a class="m-2 text-white" role="button"><i class="fab fa-instagram"></i></a>
      </section>
      <!-- Copyright -->
      <div class="text-center p-3"><p>© 2021 Dylan Du & Ruby Zhuang</p></div>
    </div>


  </footer>
