<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- App JS -->
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  <script type="text/javascript" src="/scripts/submitOrders.js"></script>

  <title>Cart</title>
</head>
<body>
<div class="modal fade" id="cartPage" tabindex="-1" role="dialog" aria-labelledby="cartPageTitle" aria-hidden="true" >
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header mb-0 pb-0">
        <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th scope="col">Bubbletea</th>
          <th scope="col">Flavor</th>
          <th scope="col">Price</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody id="cart-items"></tbody>
    </table>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="modal-body m-0 p-0">
      </div> -->
      <div class="modal-footer mr-5">
        <button type="button" class="btn btn-danger mr-3" data-dismiss="modal">
          Close
        </button>
        <button id="submitOrders" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>

