<div class="modal fade" id="cartPage" tabindex="-1" role="dialog" aria-labelledby="cartPageTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header mb-0 pb-0">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th scope="col">Bubbletea</th>
              <th scope="col">Flavor</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <div class="spin-parent">
            <div class="spin-child"></div>
          </div>
          <tbody id="cart-items"></tbody>
        </table>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body m-0 p-0 d-flex justify-content-center">
        <!-- <p>Your order has been successfully submitted!</p> -->
      </div>
      <div class="modal-footer mr-5">
        <button type="button" class="btn btn-danger mr-3" data-dismiss="modal">
          Close
        </button>
        <button id="submitOrders" type="button" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
