<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Header section -->
    <header>
      <h1>Bubbles Delight</h1>
      <h3>De<em>light</em>ful bubbleteas brewed by Lighthouse Labs!</h3>
    </header>

    <main class="container mt-4">
      <h2 class="mb-4">Heaven in every sip...</h2>
      <div id="bubbleteaMenu" class="row row-cols-1 row-cols-md-4 g-4"></div>
      <div class="col mb-4">
        <div class="card">
          <div class="menu-item">
            <img src="#" class="card-img-top" alt="" />
          </div>
          <div class="card-body">
            <h5 class="card-title">name</h5>
            <p class="card-text">Price: $</p>
            <button type="button" class="w-100 btn btn-outline-danger">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </main>
    ;
  </body>
</html>
