body header {
  padding: 5%;
  padding-top: 10%;
  height: 75vh;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  background-position: fixed;
}

body header h1 {
  color: #6f451a;
}

body header h3 {
  color: #a58b70;
}

body #bubbleteaMenu {
  margin-bottom: 5%;
}

body .menu-item {
  overflow: hidden;
}

body .menu-item:hover {
  cursor: pointer;
}

body .menu-item:hover .card-img-top {
  transform: scale(1.2);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
