body .modal-body .card {
  flex-direction: row;
  border: none;
}

body .modal-body .card .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

body .modal-body .card .menu-item .card-img {
  height: 100%;
  object-fit: cover;
}
