body #bubbleteaOptionsModal .modal-dialog {
  min-width: 700px;
  margin: auto;
}

body #bubbleteaOptionsModal .modal-dialog .modal-header {
  overflow-x: 0;
}

body #bubbleteaOptionsModal .modal-dialog .modal-body .card {
  flex-direction: row;
  border: none;
}

body #bubbleteaOptionsModal .modal-dialog .modal-body .card .card-body {
  padding-top: 0;
  padding-bottom: 0;
}

body #bubbleteaOptionsModal .modal-dialog .modal-body .card .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

body #bubbleteaOptionsModal .modal-dialog .modal-body .card .menu-item .card-img {
  height: 500px;
  object-fit: cover;
}

body #bubbleteaOptionsModal .modal-dialog .modal-body .card .form-row > .col, body #bubbleteaOptionsModal .modal-dialog .modal-body .card .form-row > [class*=col-] {
  justify-content: center;
}

body #bubbleteaOptionsModal .modal-dialog .modal-body .card p {
  margin-bottom: 0.5rem;
}

body .toggle-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 20px;
}

body .toggle-container input[type="checkbox"] {
  height: 30px;
  width: 100%;
}

body .toggle-container .toggle {
  color: white;
  line-height: 40px;
  pointer-events: none;
  text-align: center;
  transition: left 0.3s;
  width: inherit;
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
}

body .toggle-container .toggle-cold {
  background: #0d6efd;
  border-radius: 18px;
  z-index: 1;
}

body .toggle-container .toggle-hot {
  background: #dc3545;
  left: 89%;
  border-radius: 18px;
  z-index: 2;
}

body .toggle-container input[type="checkbox"]:checked ~ .toggle-cold {
  left: -88.5%;
  border-radius: 18px;
  z-index: 3;
}

body .toggle-container input[type="checkbox"]:checked ~ .toggle-hot {
  left: 0%;
  border-radius: 0;
}
