body .modal-dialog {
  min-width: 700px;
  margin: auto;
}

body .modal-body .card {
  flex-direction: row;
  border: none;
}

body .modal-body .card .card-body {
  padding-top: 0;
  padding-bottom: 0;
}

body .modal-body .card .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

body .modal-body .card .menu-item .card-img {
  height: 100%;
  object-fit: cover;
}

body .modal-body .card p {
  margin-bottom: 0.5rem;
}
