body footer {
  margin-top: auto;
}

body footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body footer .fab {
  font-size: 1.25rem;
}

body footer .fab:hover {
  color: lightgray;
}

body footer .footer-text {
  font-size: 0.75rem;
  padding: 1rem;
  padding-bottom: 0;
}
