body footer {
  margin-top: auto;
}

body footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body footer .fab {
  font-size: 1.5rem;
}

body footer .fab:hover {
  color: #a58b70;
}
