html {
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fdf8f4;
  min-height: 100%;
  padding-top: 50px;
}

body h2 {
  color: #6f451a;
}
