body .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

body .navbar .navbar-brand {
  text-shadow: 4px 1px 3px lightgray;
}

body .navbar .cartBtn {
  border: none;
  background-color: #fff;
}

body .navbar:active {
  border: none;
  outline: none;
}

body .navbar-custom {
  height: 75px;
}

body .modal-backdrop {
  z-index: 0;
}

body .cartIcon {
  position: relative;
}

body .cartIcon #cartNum {
  color: #c06014;
  position: absolute;
  font-size: medium;
  top: 16px;
  right: 16px;
  left: 10px;
}
