body #orders-table {
  display: flex;
  align-items: center;
  padding: 5rem;
}

body #orders-table table input {
  text-align: center;
}

body .orders {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

body .table {
  padding: 10%;
  padding-top: 10%;
  margin: 75px auto;
  text-align: center;
}

.bi-x-square {
  color: #e84545;
}

.bi-x-square:hover {
  cursor: pointer;
  color: #fb3640;
}

.orderCloseBtn {
  color: #393e46;
}

.orderCloseBtn:hover {
  text-decoration: none;
  font-size: xx-large;
  color: #393e46;
}

.orderTable {
  overflow-x: scroll;
}

th, td {
  min-width: 130px;
}
