body .orders {
  margin: auto;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

body .table {
  padding: 10%;
  padding-top: 10%;
  margin: 75px auto;
  text-align: center;
}
