// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {
  // Header cover section
  header {
    position: relative;
    // padding: 5%;
    // padding-top: 10%;
    // height: 75vh;
    // background-image: url('../images/header-background.jpg');
    // background-size: cover;
    // background-position: fixed;

    h1 {
      color: $primary-color;
      position: absolute;
      top: 100px;
      left:60px;
      z-index: 50;
    }

    h3 {
      color: $secondary-color;
      position: absolute;
      top:170px;
      left:60px;
      z-index: 50;
    }
  }

  // Bubbletea menu container
  #bubbleteaMenu {
    margin-bottom: 5%;
  }

  // Each menu item
  .menu-item {
    overflow: hidden;

    &:hover {
      cursor: pointer;

      & .card-img-top {
        transform: scale(1.2);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }
  }
}
