// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

.onoffswitch {
  position: relative; width: 200px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "COLD";
  padding-left: 10px;
  background-color: #78D0E6; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #F59696; color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 12px; margin: 10px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 164px;
  border: 2px solid #FFFFFF; border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
