// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {
  // Card container in options modal
  .modal-body .card {
    // Make image appear side by side with the card content/body
    flex-direction: row;
    border: none;

    .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;  // Only take up 50% of container

      .card-img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
