// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {

  // Set minimum width of modal container for options and center it
  #bubbleteaOptionsModal .modal-dialog {
    min-width: 700px;
    margin: auto;

    .modal-header {
      overflow-x: 0; // To get rid of grey spacing in header (doesn't work here)
    }

    // Card container in options modal
    .modal-body .card {
      // Make image appear side by side with the card content/body
      flex-direction: row;
      border: none;

      // Makes card content aligned with image size
      .card-body {
        padding-top: 0;
        padding-bottom: 0;
      }

      // Container for image on options modal container
      .menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;  // Only take up 50% of container

        .card-img {
          height: 500px;
          object-fit: cover;
        }
      }

      // Center S/M/L options
      .form-row>.col, .form-row>[class*=col-] {
        justify-content: center;
      }

      // Toppings heading
      p {
        margin-bottom: 0.5rem;
      }
    }
  }

  // Hot/Cold Toggle
  .toggle-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 20px;

    input[type="checkbox"] {
      height: 30px;
      width: 100%;
    }

    .toggle {
      color: white;
      line-height: 40px;
      pointer-events: none;
      text-align: center;
      transition: left 0.3s;
      width: inherit;

      position: absolute;
      left: 0%;
      top: 0;
      bottom: 0;
    }

    .toggle-cold {
      background: #0d6efd;
      border-radius: 18px;
      z-index: 1;
    }

    .toggle-hot {
      background: #dc3545;
      left: 89%;
      border-radius: 18px;
      z-index: 2;
    }

    input[type="checkbox"]:checked ~ .toggle-cold {
      left: -88.5%;
      border-radius: 18px;
      z-index: 3;
    }

    input[type="checkbox"]:checked ~ .toggle-hot {
      left: 0%;
      border-radius: 0;

    }
  }



}
