// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {
  // Footer section
  footer {
    margin-top: 5%;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .fab {
      font-size: 1.5rem;
    }
  }
}
