// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {
  box-sizing: border-box;
  background-color: #eee;

  // Navbar
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    // background-color: coral;

    .cartBtn{
      border: none;
      background-color: #fff;
    }
    &:active{
      border: none;
      outline: none;
    }
  }

  // Header section
  header {
    padding: 5%;
    padding-top: 10%;
    height: 70vh;
    background-image: url("../images/header-background.jpg");

    h1 {
      color: $primary-color;
    }

    h3 {
      color: $secondary-color;
    }
  }

  .card {
    position: relative;
    top: 80px;
    // background-color: chartreuse;
  }

  .table {
    position: relative;
    top: 80px;
    /* background-color: aqua; */
  }

  .modal-backdrop {
    z-index: 0;
  }

  // Footer section
  footer {
    margin-top: 5%;

    .fab {
      font-size: 1.5rem;
    }
  }
}
