// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {
  box-sizing: border-box;
  background-color: #eee;

  // Navbar
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    // background-color: coral;

    .cartBtn {
      border: none;
      background-color: #fff;
    }
    &:active {
      border: none;
      outline: none;
    }
  }

  // Header section
  header {
    padding: 5%;
    padding-top: 10%;
    margin-top: 50px;
    height: 75vh;
    background-image: url('../images/header-background.jpg');
    background-size: cover;
    background-position: fixed;


    h1 {
      color: $primary-color;
    }

    h3 {
      color: $secondary-color;
    }
  }

  .card {
    position: relative;
    top: 80px;
    // background-color: chartreuse;
  }

  .table {
    position: relative;
    top: 80px;
    /* background-color: aqua; */
  }

  .modal-backdrop {
    z-index: 0;
  }

  .text-center {
    display: flex;
    justify-content: space-between;
  }

  // Footer section
  footer {
    margin-top: 5%;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .fab {
      font-size: 1.5rem;
    }
  }

  .menu-item {
    min-width: 50%;
    height: 100%;
    overflow: hidden;

    &:hover {
      cursor: pointer;

      & .card-img-top {
        transform: scale(1.2);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }
  }
}

//  box-shadow: 5px 5px 0 2px #b8b5ff;
