// See: https://sass-lang.com/

body {
  box-sizing: border-box;
  background-color: #eee;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  header {
    margin-top: 200 px;
    height: 50vh;
    background: lightskyblue;
  }

  h1 {
    color: #244751;
  }
}
