// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {
  #login-form {
    display: flex;
    align-items: center;
    padding-bottom: 5rem;

    form {
      background: rgba(white, 0.7);
      border-radius: 20px;
    }
  }
}
