// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {
  // Navbar
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .navbar-brand {
      text-shadow: 4px 1px 3px lightgray;
    }

    .cartBtn {
      border: none;
      background-color: #fff;
    }

    &:active {
      border: none;
      outline: none;
    }
  }

  // Fix navbar height (would need to change this for responsive design)
  .navbar-custom {
    height: 75px;
  }

  // Cart modal
  .modal-backdrop {
    z-index: 0;
  }

  // .text-center {
  //   display: flex;
  //   justify-content: space-between;
  // }

  .cartIcon{
    position: relative;
    #cartNum{
    color: red;
    position:absolute;
    font-size:medium;
    top: 16px;
    right: 16px;
    left:6px;
  }
  }


}
