// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {
  .orders {
    margin-top: 5%;
    background: rgba(white, 0.7);
    border-radius: 20px;
  }

  .table {
    padding: 10%;
    padding-top: 10%;
    margin: 75px auto;
    text-align: center;
  }
}
