// See: https://sass-lang.com/

// Variables
$primary-color: #6f451a;
$secondary-color: #a58b70;

body {
  // Header cover section
  .table {
    padding: 5%;
    padding-top: 10%;
    margin-top: 50px;
  }
}
